.calendar-page-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #333;
}

.calendar-page-left {
    position: absolutea;
    left: 0px;
    width: 500px;
    height: 700px;
    background-color: #ddaf35;
}