.calendar-page-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #333;
}

.calendar-page-left {
<<<<<<< HEAD
    width: 50%;
    height: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.calendar-wrapper {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-day {
    position: absolute;
    top: 210px;
    font-size: 150px;
    margin-bottom: 10px;
    color: #eee;
}

.calendar-m {
    position: absolute;
    top: 170px;
    font-size: 30px;
    margin-bottom: 10px;
    color: #eee;
}

.todolist-calendar-container {
    position: absolute;
    right: 500px;
    padding: 0px 10px;
    bottom: 10px;
    width: 500px;
    height: 280px;
    /* 높이 초과했을 시 스크롤 */
    overflow-y: scroll;
}

.todolist-calendar-container::-webkit-scrollbar {
    width: 3px;
    background-color: white;
}

.todolist-calendar-container li {
    font-weight: bold;
    color: #ff0000;
}

.calendar-month {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.calendar-table {
    width: fit-content;
    border-collapse: collapse;
}

.calendar-thead th {
    padding: 30px 10px 20px 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.calendar-thead th:first-child {
    color: red; 
}

.calendar-thead th:nth-child(7) {
    color: blue;
}

.calendar-tbody td {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.calendar-tbody td > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.calendar-tbody td > div > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.calendar-tbody td > div > span:hover {
    background-color: #333;
    border-radius: 50%;
    color: white;
}

.calendar-tbody td:first-child span {
    color: red; 
}

.calendar-tbody td:nth-child(7) span {
    color: blue;
}

.calendar-before-button {
    position: absolute;
    left: 10px;
    top: 10px;
    border: 0px;
    font-size: 25px;
    background-color: #00ff0000;
    cursor: pointer;
}

.calendar-next-button {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 0px;
    font-size: 25px;
    background-color: #00ff0000;
    cursor: pointer;
}

/* today 표시 */
.calendar-tbody td > div > span.today {
    font-weight: 700;
    color: #000;
    text-decoration: underline;
}

.calendar-tbody td > div > span.today:hover {
    font-weight: 400;
    color: white;
}
=======
    position: absolutea;
    left: 0px;
    width: 500px;
    height: 700px;
    background-color: #ddaf35;
}
>>>>>>> parent of 3ad1c50 (feat: calendar 완성)
