* {
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
}

.container {
    position: relative;
    margin: 100px auto;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    width: 1000px;
    height: 700px;
    background-color: #fafafa;
    overflow: hidden;
}

.calendar-btn {
    position: absolute;
    bottom: 300px;
    left: 410px;
    outline: none;
    border-radius: 4px;
    padding: 5px 15px;
    height: 30px;
    background-color: #333;
    color: #eee;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

/* 눌렀을 시 효과 */
.calendar-btn:active {
    background-color: #555;
}

.main-container {
    width: 1000px;
    height: 700px;
}

.invisible {
    display: none !important;
}

.text-input {
    position: absolute;
    bottom: 300px;
    left: 30px;
    outline: none;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 5px 20px;
    width: 370px;
    height: 30px;
    background-color: #444;
    color: #eee;
    font-size: 12px;
}

.dropbox{
    position: absolute;
    right: 10px;
    top: 30px;
    outline: none;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 5px 20px;
    width: 600px;
    height: 35px;
    background-color: #444;
    color: #f8f5f5d0;
}

.dropbox option {
    color: #f8f5f5d0;
}

.dropbox:focus {
    outline: 1px solid #ffbb00;
}

.w-f {
    outline: none;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 5px 20px;
    width: 100%;
}